# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/components
/Fotos
/Project_SpaceInvador_Data
*.bin
*.S19
*.xMAP
*.lcf
*.mcp